.site-header {
    max-width: 90rem;
    margin: 3rem auto;
    padding: 0 3.6rem;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-main {
        display: flex;
        align-items: baseline;
    }

    &-links {
        display: flex;
        align-items: center;
    }
}

.site-header > div {
    border-bottom: 1px solid #eee;
    padding-bottom: 2.9rem;
}

