.post-content {
    margin-top: 2rem;
}

.post-content.archive {
    margin-top: 2rem;
}

.post-content.archive > * {
    margin-top: 1rem;
}

.post-preview-title {
    position: relative;
}

.post-preview-title::before {
    content: "#";
    position: absolute;
    left: -2.2rem;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: 400;

    color: #ccc;
}

.post-subtitle {
    font-size: 1.6rem;
    color: #777;
}

.post-preview-excerpt {
    font-size: 1.8rem;
}