.heading-primary {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--grey-dark-6);
}

.heading-secondary {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--grey-dark-5);
}

.heading-tertiary {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--grey-dark-6);
}