:root {
    //  PRIMARYS
    --primary: #0c3474;
    --primary-light-1: #869aba;
    --primary-light-2: #b6c2d6;
    --primary-light-3: #dbe1ea;
    --primary-light-4: #244882;
    --primary-light-5: #3d5d90;

    //  GREYS
    --grey-dark-1: #222;
    --grey-dark-2: #121212;
    --grey-dark-3: #181818;
    --grey-dark-4: #18191A;
    --grey-dark-5: #282828;
    --grey-dark-6: #3e3e3e;
    --grey-dark-7: #535353;

    --grey-light-1: #374151;
    --grey-light-2: #B3B3B3;
    --grey-light-3: #E4E6EB;
    --grey-light-4: #fcfefb;
}